In [1]:
%matplotlib inline
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('Data/tree_addhealth.csv')
df

,BIO_SEX,HISPANIC,WHITE,BLACK,NAMERICAN,ASIAN,age,TREG1,ALCEVR1,ALCPROBS1,...,ESTEEM1,VIOL1,PASSIST,DEVIANT1,SCHCONN1,GPA1,EXPEL1,FAMCONCT,PARACTV,PARPRES
0,2.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,1.0,2,...,47.0,4.0,0,5.0,NaN,NaN,0.0,24.3,8.0,15.0
1,2.0,0.0,0.0,1.0,0.0,0.0,19.427397,1.0,1.0,1,...,35.0,1.0,0,5.0,22.0,2.333333,0.0,23.3,9.0,15.0
2,1.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0,...,45.0,0.0,0,1.0,30.0,2.250000,0.0,24.3,3.0,15.0
3,1.0,0.0,0.0,1.0,0.0,0.0,20.430137,1.0,0.0,0,...,47.0,4.0,1,4.0,19.0,2.000000,0.0,18.7,6.0,14.0
4,2.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,1.0,0,...,39.0,0.0,0,5.0,32.0,3.000000,0.0,20.0,9.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6499,2.0,0.0,0.0,1.0,0.0,0.0,14.260274,0.0,0.0,0,...,38.0,2.0,0,2.0,27.0,3.500000,0.0,23.0,3.0,14.0
6500,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0,...,35.0,0.0,1,0.0,32.0,3.000000,0.0,23.3,9.0,15.0
6501,1.0,0.0,1.0,0.0,0.0,0.0,15.093151,1.0,1.0,4,...,50.0,13.0,0,2.0,14.0,1.000000,0.0,23.7,9.0,13.0
6502,2.0,0.0,1.0,0.0,0.0,0.0,15.509589,0.0,0.0,0,...,29.0,1.0,1,6.0,26.0,3.000000,0.0,21.3,1.0,12.0
6503,1.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,1.0,1,...,41.0,15.0,1,14.0,25.0,1.250000,0.0,17.0,5.0,8.0

In [3]:
print(df.shape)
df.head(10)

(6504, 25)

,BIO_SEX,HISPANIC,WHITE,BLACK,NAMERICAN,ASIAN,age,TREG1,ALCEVR1,ALCPROBS1,...,ESTEEM1,VIOL1,PASSIST,DEVIANT1,SCHCONN1,GPA1,EXPEL1,FAMCONCT,PARACTV,PARPRES
0,2.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,1.0,2,...,47.0,4.0,0,5.0,NaN,NaN,0.0,24.3,8.0,15.0
1,2.0,0.0,0.0,1.0,0.0,0.0,19.427397,1.0,1.0,1,...,35.0,1.0,0,5.0,22.0,2.333333,0.0,23.3,9.0,15.0
2,1.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0,...,45.0,0.0,0,1.0,30.0,2.250000,0.0,24.3,3.0,15.0
3,1.0,0.0,0.0,1.0,0.0,0.0,20.430137,1.0,0.0,0,...,47.0,4.0,1,4.0,19.0,2.000000,0.0,18.7,6.0,14.0
4,2.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,1.0,0,...,39.0,0.0,0,5.0,32.0,3.000000,0.0,20.0,9.0,6.0
5,1.0,0.0,0.0,1.0,0.0,0.0,14.509589,0.0,0.0,0,...,41.0,3.0,0,0.0,27.0,2.666667,0.0,23.7,3.0,13.0
6,1.0,0.0,0.0,1.0,0.0,0.0,13.676712,0.0,0.0,0,...,42.0,5.0,0,7.0,18.0,2.500000,0.0,24.7,6.0,13.0
7,1.0,0.0,1.0,0.0,0.0,0.0,15.178082,1.0,1.0,0,...,40.0,8.0,1,6.0,20.0,1.500000,0.0,22.3,10.0,14.0
8,1.0,0.0,0.0,1.0,0.0,0.0,14.673973,0.0,1.0,0,...,39.0,0.0,0,5.0,24.0,2.250000,0.0,19.0,8.0,15.0
9,1.0,0.0,1.0,0.0,0.0,0.0,14.926027,0.0,0.0,0,...,37.0,1.0,0,2.0,25.0,2.500000,0.0,24.3,3.0,11.0

In [4]:
#
df.isnull().sum()

BIO_SEX         1
HISPANIC       23
WHITE          19
BLACK          19
NAMERICAN      19
ASIAN          19
age          1667
TREG1           4
ALCEVR1        60
ALCPROBS1       0
marever1        0
cocever1        0
inhever1        0
cigavail       60
DEP1           18
ESTEEM1        21
VIOL1          50
PASSIST         0
DEVIANT1       56
SCHCONN1      136
GPA1          230
EXPEL1         18
FAMCONCT        0
PARACTV        27
PARPRES       135
dtype: int64

In [5]:
#Membuang data yang terdapat data kosong
df_clean = df.dropna()
df_clean.describe()

,BIO_SEX,HISPANIC,WHITE,BLACK,NAMERICAN,ASIAN,age,TREG1,ALCEVR1,ALCPROBS1,...,ESTEEM1,VIOL1,PASSIST,DEVIANT1,SCHCONN1,GPA1,EXPEL1,FAMCONCT,PARACTV,PARPRES
count,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,...,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000,4575.000000
mean,1.521093,0.111038,0.683279,0.236066,0.036284,0.040437,16.493052,0.176393,0.527432,0.369180,...,40.952131,1.618579,0.102514,2.645027,28.360656,2.815647,0.040219,22.570557,6.290710,13.398033
std,0.499609,0.314214,0.465249,0.424709,0.187017,0.197004,1.552174,0.381196,0.499302,0.894947,...,5.381439,2.593230,0.303356,3.520554,5.156385,0.770167,0.196493,2.614754,3.360219,2.085837
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.676712,0.000000,0.000000,0.000000,...,18.000000,0.000000,0.000000,0.000000,6.000000,1.000000,0.000000,6.300000,0.000000,3.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.254795,0.000000,0.000000,0.000000,...,38.000000,0.000000,0.000000,0.000000,25.000000,2.250000,0.000000,21.700000,4.000000,12.000000
50%,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,16.509589,0.000000,1.000000,0.000000,...,40.000000,0.000000,0.000000,1.000000,29.000000,2.750000,0.000000,23.700000,6.000000,14.000000
75%,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,17.679452,0.000000,1.000000,0.000000,...,45.000000,2.000000,0.000000,4.000000,32.000000,3.500000,0.000000,24.300000,9.000000,15.000000
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.512329,1.000000,1.000000,6.000000,...,50.000000,19.000000,1.000000,27.000000,38.000000,4.000000,1.000000,25.000000,18.000000,15.000000

In [6]:
print(df_clean.shape)

(4575, 25)

In [7]:
#Cek Missing data kemmudian dijumlahkan
df_clean.isnull().sum()

BIO_SEX      0
HISPANIC     0
WHITE        0
BLACK        0
NAMERICAN    0
ASIAN        0
age          0
TREG1        0
ALCEVR1      0
ALCPROBS1    0
marever1     0
cocever1     0
inhever1     0
cigavail     0
DEP1         0
ESTEEM1      0
VIOL1        0
PASSIST      0
DEVIANT1     0
SCHCONN1     0
GPA1         0
EXPEL1       0
FAMCONCT     0
PARACTV      0
PARPRES      0
dtype: int64

In [8]:
#Random tree hanya bisa mengolah data numeric
#Menentukan Explanatory dan Target variabel
#Merubah data string menjadi numerical agar bisa diolah random forest
num_of_numerical_cols = df_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = df_clean._get_numeric_data(). columns
print(name_of_numerical_cols)

25 numerical columns
Index(['BIO_SEX', 'HISPANIC', 'WHITE', 'BLACK', 'NAMERICAN', 'ASIAN', 'age',
       'TREG1', 'ALCEVR1', 'ALCPROBS1', 'marever1', 'cocever1', 'inhever1',
       'cigavail', 'DEP1', 'ESTEEM1', 'VIOL1', 'PASSIST', 'DEVIANT1',
       'SCHCONN1', 'GPA1', 'EXPEL1', 'FAMCONCT', 'PARACTV', 'PARPRES'],
      dtype='object')

In [9]:
X = df_clean[['BIO_SEX', 'HISPANIC', 'WHITE', 'BLACK', 'NAMERICAN', 'ASIAN', 'age',
             'ALCEVR1', 'ALCPROBS1', 'marever1', 'cocever1', 'inhever1', 'cigavail', 'DEP1', 'ESTEEM1', 'VIOL1',
             'PASSIST', 'DEVIANT1', 'SCHCONN1', 'GPA1', 'EXPEL1', 'FAMCONCT', 'PARACTV', 'PARPRES']]

y = df_clean.TREG1

#test_size 40% data testing 60% data training
X_train, X_test, y_train, y_test, = train_test_split(X,y, test_size=0.4, random_state = 42)

In [10]:
print('X_train = ', X_train.shape)
print('X_test = ', X_test.shape)
print('y_train = ', y_train.shape)
print('y_test = ', y_test.shape)

X_train =  (2745, 24)
X_test =  (1830, 24)
y_train =  (2745,)
y_test =  (1830,)

In [11]:
#Membuat Random Forest decision tree sebanyak 20 percobaan
classifier=RandomForestClassifier(n_estimators=20, random_state = 0)
classifier.fit(X_train, y_train)

predictions=classifier.predict(X_test)

In [12]:
#Confusion matriks adalah tools untuk melekukan evaluasi dari hasil prediksi model
confusion_array = sklearn.metrics.confusion_matrix(y_test,predictions)
print(confusion_array)

[[1447   63]
 [ 222   98]]

In [13]:
print('TN = ', confusion_array[0,0])
print('FN = ', confusion_array[1,0])
print('TP = ', confusion_array[1,1])
print('FP = ', confusion_array[0,1])

TN =  1447
FN =  222
TP =  98
FP =  63

In [14]:
classifier.score(X_test, y_test)

0.8442622950819673

In [15]:
sklearn.metrics.accuracy_score(y_test, predictions)

0.8442622950819673

In [17]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.87      0.96      0.91      1510
         1.0       0.61      0.31      0.41       320

    accuracy                           0.84      1830
   macro avg       0.74      0.63      0.66      1830
weighted avg       0.82      0.84      0.82      1830